body {
    min-height: 100vh;
    margin: 0;
    font: Roboto;
}

.body {
    display: flex;
    flex-direction: column;   
}

.header, .intro-container{
    background-color: #1F2927;
}

.header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 16px;
}

ul, .intro-text {
    font-size: 18px;
    color: #f9faf8;
}

.header-title {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.intro-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding:30px;
    gap:10px;
    padding-left: 200px;
    padding-right: 200px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
}

.right {
    flex: 1 1 0;
    align-content: center;
}

.intro-title {
    font-size: 48px;
    font-weight:800;
    color:#f9faf8;
    margin: 0px;
}

button {
   background-color: #3882f6; 
   color: white;
   width: 100px;
   height: 30px;
   border-radius: 10px;
}

img {
    width: auto;
    height: auto;
    max-width:100%;
}

.images-container {
    display: flex;
    flex-direction: column;
    padding:30px;
    padding-left: 200px;
    padding-right: 200px;
}

.content {
    display: flex;
    flex-direction: row;
    gap:30px; 
}

.images-title {
    font-size: 36px;
    font-weight: 800;
    padding: 20px;
    align-self: center;
}

.img-with-caption {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-with-caption > p {
    text-align: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:30px;
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight:300px;
}

.quote-author {
    font-size: 20px;
    font-weight: 800;
    align-content: flex-end;
}

.sign-up-box {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.sign-up-container {
    padding:30px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer {

}

.sign-up {
    align-self: center;
    justify-self: center;
    border-color: white;
}